<div>
  <nav>
    <a routerLink="/custom-button-demo" routerLinkActive="active">Custom button, pipe & directive</a>
    | <a routerLink="/ngcontent-demo" routerLinkActive="active">ng-content</a> |
    <a routerLink="/input-demo" routerLinkActive="active">Input()</a> |
    <a routerLink="/output-demo" routerLinkActive="active">Output()</a> |
    <a routerLink="/viewchild-demo" routerLinkActive="active">ViewChild()</a> |
    <a routerLink="/hello" routerLinkActive="active">Lazy loading</a> |
    <a routerLink="/rxjs" routerLinkActive="active">Rxjs</a>
  </nav>
  <router-outlet></router-outlet>
</div>